@using BSquadGames.Classes.ConnectFour
@page "/connectMain"
@rendermode InteractiveServer
<h3>Connect four</h3>
<div>Loading...</div>

<div> @player.Name</div>

@code {
    ConnectFourPlayer player = new("Test");
}
